*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    position: fixed;
    width: 100%;
}
.btn a{
    text-decoration: none;
    color: white;
}
.firstnav {
    width: 70%;
    justify-content: center;
}
.navbar .navbar-nav .nav-link {
    color: cadetblue;
}

.navbar .navbar-nav .nav-link:hover{
    color: rgb(247, 10, 10);
    font-weight: bold;
}
.navbar .navbar-nav .nav-link:focus{
    color: white;
    font-weight: bolder;
}
.navbar-nav .nav-item .nav-link:active{
    color: rgb(138, 24, 214);
    font-weight: 50px;
}

.btn:active{
    color: white;
}

.ground{
    background-image: url("image/bg.jpg");
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.headerset{
    padding-top: 200px;
}
.headerset h1{
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-style: italic;
}
.headerset h3{
    font-style: italic;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

/*  -------------service----------------- */

.service{
    padding-top: 100px;
    /* height: 50vw; */
}
.rows{
    margin-top: 100px;
    margin-bottom: 100px;

}
.service h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 11px;
}
.imgsetting{
    width: 130px;
    height: 130px;
    border-radius: 50%;

}
.fa{
    margin-top: 25px;
}
.pro{
    text-align: left;
}

/* -----------------ourteam--------------- */

.img{
    cursor: pointer;
    transition:transform 2s;
    height: 250px;
}
.figure .img:hover{
    zoom: 105%;
    transform: scale(1.1);
}
.ourteam{
    background-color: #efece9;
    padding: 30px;
    margin-top: 80px;
}
.team{
    margin-top: 100px;
    margin-bottom: 100px;
}
.ourteam h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-bottom: 15px;
}
.figurename{
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* ------------------protflio ---------------*/

.web{
    margin-top: 80px;
}
.web h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-bottom: 15px; 
}

.card{
    cursor: pointer;
    transition:transform 2s;
}
.card:hover{
    zoom: 105%;
    transform: scale(1.1);
}
